PORT=3000

JWT_SECRET=tu_secreto_jwt

DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=1234
DB_NAME=miapp

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

FRONTEND_URL=http://localhost:8081